body {
	font-family: 'Alexandria', sans-serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #f2f2f2;
	color: #1a1a1a;
}
body, html {
	height: 100%;
}
img {
    vertical-align: middle;
}
.unselectable {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
.transitionless {
	-webkit-transition: none !important;
         -o-transition: none !important;
	        transition: none !important;
}
/* Navbar */
.overlay {
	/* Cover screen */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* Position behind menu, in front of page & navbar */
	z-index: 6;
	/* Animate opacity when menu is opened*/
	background-color: black;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
	/* Ignore cursor when not shown */
	pointer-events: none;
}
.overlay-visible {
	opacity: .5 !important;
	pointer-events: auto !important;
}
.navbar {
	background-color: #2a286b;
	color: white;
	-webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .2);
	        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .2);
	/* Stick to top of browser */
	position: fixed;
	top: 0;
	/* On top of page content */
	z-index: 5;
	/* Mobile styling */
	height: 60px;
	width: 60px;
	border-radius:  0 0 5px 0;
}
.navbar-banner {
	/* Displays without background over page with banner image */
	background-color: transparent;
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, .75), rgba(0, 0, 0, 0));
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .75)), to(rgba(0, 0, 0, 0)));
	background-image: linear-gradient(180deg, rgba(0, 0, 0, .75), rgba(0, 0, 0, 0));
	-webkit-box-shadow: none;
	        box-shadow: none;
	/* For mobile navbar button */
	width: 100%;
}
.navbar-button {
	font-size: 24pt;
	text-align: center;
	width: 50px; 
	height: 50px;
	line-height: 50px;
	border-radius: 50%;
	margin: 5px;
	background-color: rgba(0, 0, 0, 0.0);
	/* Mobile styling */
	display: block;
}
.navbar-link-container {
	height: 100%;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.navbar-link {
	font-size: 14pt;
	height: 100%;
	width: 120px;
	text-align: center;
	line-height: 100px;
	background-color: rgba(0, 0, 0, 0.0);
	/* Animate font weight and underline on click */
	-webkit-transition: font-weight .5s, -webkit-box-shadow .5s;
    transition: font-weight .5s, -webkit-box-shadow .5s;
    -o-transition: font-weight .5s, box-shadow .5s;
    transition: font-weight .5s, box-shadow .5s;
    transition: font-weight .5s, box-shadow .5s, -webkit-box-shadow .5s;
	/* Mobile styling */
	display: none;
}
.navbar-link-active {
	font-weight: 600;
	-webkit-box-shadow: inset 0 -5px 0 white;
	        box-shadow: inset 0 -5px 0 white;
}
.sidebar {
	position: fixed;
	top: 0;
	width: 85vw;
	left: -90vw;
	background-color: #2a286b;
	color: white;
	height: 100vh;
	-webkit-box-shadow: 3px 0 5px 0 rgba(0, 0, 0, .1);
	        box-shadow: 3px 0 5px 0 rgba(0, 0, 0, .1);
	overflow-y: auto;
	/* Animate slide in */
	-webkit-transition: left 0.5s;
	-o-transition: left 0.5s;
	transition: left 0.5s;
	/* Position above overlay */
	z-index: 7;
}
.sidebar-link {
	font-size: 14pt;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	-webkit-transition: background-color .25s, color .5s;
	-o-transition: background-color .25s, color .5s;
	transition: background-color .25s, color .5s;
}
.sidebar-link-active {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	font-weight: 600;
}
/* Page content */
.page {
	width: 100vw;
	min-height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	/* Hide */
	position: absolute;
	top: -999999px;
	opacity: 0;
	/* Slide in from left/right */
	-webkit-transition: opacity .6s, -webkit-transform .6s;
	transition: opacity .6s, -webkit-transform .6s;
	-o-transition: transform .6s, opacity .6s;
	transition: transform .6s, opacity .6s;
	transition: transform .6s, opacity .6s, -webkit-transform .6s;
}
.page-active {
	top: 0;
	opacity: 100%;
	-webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	        transform: translateX(0);
}
.page-slide-from-left {
	-webkit-transform: translateX(-15px);
	    -ms-transform: translateX(-15px);
	        transform: translateX(-15px);
}
.page-slide-from-right {
	-webkit-transform: translateX(15px);
	    -ms-transform: translateX(15px);
	        transform: translateX(15px);
}
.page-content {
	-ms-flex-item-align: start;
	    align-self: flex-start;
	margin: auto;
	width: 900px;
	max-width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 80px;
	margin-bottom: 20px;
}
.page-entry {
	width: 400px;
	max-width: 100%;
	padding: 25px;
}
.page-image {
	max-width: 100%;
	        -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .5);
	                box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .5);
	/* Mobile styling */
	max-height: 60vh;
}
/* Panels */
.panel-container {
	width: 100vw;
}
.panel {
	/* Mobile styling */
	font-size: 10pt;
	width: 100vw;
	height: -webkit-min-content;
	height: -moz-min-content;
	height: min-content;
}
.panel-padding {
	/* Mobile styling */
	padding: 25px;
}
.left-panel {
	background-color: #E74C3C;
	color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.right-panel {
	color: black;
	-webkit-box-shadow: inset 0 3px 3px 0 rgba(0, 0, 0, .2);
	        box-shadow: inset 0 3px 3px 0 rgba(0, 0, 0, .2);
}
.about-panel {
	min-height: 50vh;
	background-image: url(img/about.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}
/* Text */
.page-title {
	color: #2a286b;
	font-size: 30pt;
	font-weight: 600;
	margin-bottom: 10px;
}
.page-title-banner {
	color: white;
}
.page-text {
	line-height: 140%;
	/* Mobile styling */
	font-size: 10pt;
}
.page-text a {
	color: inherit;
	font-weight: 300;
}
.small-text {
	font-size: 9pt;
	line-height: 140%;
}
.tiny-text {
	font-size: 8pt;
}
/* Contact text */
.contact-text {
	font-size: 16pt;
	padding-top: 5px;
	position: relative;
	width: -webkit-min-content;
	width: -moz-min-content;
	width: min-content;
}
.contact-tooltip {
	color: white;
	font-size: 10pt;
	position: absolute;
	top: 100%;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	    -ms-transform: translate(-50%, 0);
	        transform: translate(-50%, 0);
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	background-color: #808080;
	        -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .25);
	                box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .25);
	-webkit-transition: margin-top .15s, opacity .15s;
	-o-transition: margin-top .15s, opacity .15s;
	transition: margin-top .15s, opacity .15s;
}
.contact-tooltip::after {
	content: "Copy";
}
.contact-text .contact-tooltip {
	opacity: 0;
	margin-top: 0;
}
.contact-text:focus .contact-tooltip::after {
	opacity: 1;
	margin-top: 5px;
	content: "Copied!";
}
/* Tracklist table */
.tracklist-table td {
	vertical-align: top;
}
.tracklist-number, tracklist-title {
	font-weight: 300;
}
.tracklist-credits {
	font-weight: 200;
}
/* Banners */
.banner {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;
	color: white;
}
.home-banner {
	height: 100vh;
	background-image: url(img/home.png);
}
.clocks-banner {
	background-image: url(img/clocks.png);
}
/* Home page name */
.name-container {
	position: absolute;
	line-height: 90%;
	font-weight: 600;
	text-shadow: 0 4px 4px #000000;
	/* Mobile styling */
	left: 30px;
	bottom: 30px;
	font-size: 40pt;
}
.name {
	opacity: 0;
	padding-bottom: 10px;
	-webkit-transition: opacity .75s, padding-bottom .75s;
	-o-transition: opacity .75s, padding-bottom .75s;
	transition: opacity .75s, padding-bottom .75s;
}
.name-visible {
	opacity: 1;
	padding-bottom: 0;
}
/* Youtube embeds (16x9) */
.video-entry, .calendar-entry {
	width: 740px;
	max-width: 100%;
	padding: 20px;
}
.video-container {
	position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* Loading */
.loading-screen {
	position: fixed;
	z-index: 10;
	color: white;
	background-color: #2a286b;
	width: 100vw;
	height: 100vh;
	-webkit-transition: opacity .4s;
	-o-transition: opacity .4s;
	transition: opacity .4s;
}
.loading-circle {
	margin: auto;
	position: absolute;
	top: 0; 
	left: 0;
	bottom: 0; 
	right: 0;
}
.loading-letter-container {
	margin: auto;
	position: absolute;
	top: 0; 
	left: 0;
	bottom: 0; 
	right: 0;
	width: 300px;
	height: 300px;
}
.loading-letter {
	margin: auto;
	height: -webkit-min-content;
	height: -moz-min-content;
	height: min-content;
	width: -webkit-min-content;
	width: -moz-min-content;
	width: min-content;
	padding-bottom: 300px;
	font-size: 14pt;
    -webkit-animation: spin 3s infinite;
            animation: spin 3s infinite;
}
@-webkit-keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
                transform: rotate(360deg); 
    } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
                transform: rotate(360deg); 
    } 
}
/* Desktop styling */
@media only screen and (min-width: 960px) {
	.navbar {
		height: 100px;
		width: 100%;
		border-radius: 0;
	}
	.navbar-link {
		display: block;
	}
	.navbar-button {
		display: none;
	}
	.page {
		
	}
	.page-image {
		max-height: none;
	}
	.page-section {
		width: inherit;
	}
	.page-content {
		padding-top: 40px;
	}
	.panel-container {
		padding-top: 100px;
		min-height: calc(100vh - 100px);
	}
	.panel {
		font-size: 11pt;
		width: 50vw;
		height: 100%;
		overflow-y: auto;	
	}
	.panel-padding {
		padding: 60px;
	}
	.left-panel {
		float: left;
	}
	.right-panel {
		float: right;
		-webkit-box-shadow: inset 7px 0 9px -7px rgba(0,0,0,0.5);
		        box-shadow: inset 7px 0 9px -7px rgba(0,0,0,0.5);
	}
	.page-text {
		font-size: 11pt;
	}
	.title {
		font-size: 50pt;
		margin-bottom: 20px;
	}
	.small-text {
		font-size: 10pt;
	}
	.name-container {
		font-size: 70pt;
		left: 50px;
		bottom: 50px;
	}
	.video-container {
		width: 100%;
		padding-bottom: 56.25%;
	}
}
/* Hover magic */
@media (hover: hover) and (pointer: fine) {
	.navbar-button:hover {
		cursor: pointer;
		background-color: rgba(0, 0, 0, 0.25);
	}
	.navbar-link:hover {
		cursor: pointer;
		background-color: rgba(0, 0, 0, 0.25);
	}
	.navbar-logo-text:hover {
		opacity: 75%;
	}
	.sidebar-link:hover {
		background-color: rgba(0, 0, 0, 0.25);
		cursor: pointer;
	}
	.sidebar-link-active:hover {
		background-color: rgba(0, 0, 0, 0.5);
	}
	.letter:hover {
		cursor: pointer;
	}
	.contact-text a:hover {
		cursor: pointer;
		text-decoration: underline;
	}
	.contact-text:hover .contact-tooltip  {
		opacity: 1;
		margin-top: 5px;
	}
}